/* primary colors*/
$primary-black: #323232;
$primary-silver: #afafaf;
$primary-white: #ffffff;
/* secondary colors*/
$secondary-blak: #000000;
$secondary-mercury: #e1e1e1;
$secondary-alabaster: #fafafa;

//breakpoints
$tablet-width: 600px;
$desktop-width: 1200px;
