@use '../styles/partials/mixins' as *;
@use '../styles/partials/versions' as *;


html {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
}

body {
    margin: 0px;

}

.text {
    font-size: 2.4rem;
    line-height: 3.2rem;
    font-weight: 700;
    //tablet
    @include tablet {
        font-size: 3.6rem;
        line-height: 4.4rem;

     &--header {
        color: $primary-white;
        position: absolute;
        top: 50%;
        left: 4%;
        font-size: 2.4rem;
        line-height: 3.2rem;
        font-weight: 700;
        //tablet 
        @include tablet {
            font-size: 6rem;
            line-height: 6.8rem;
            font-weight: 700;
        }
        @include  desktop {
            font-size: 6rem;
            line-height: 6.8rem;
            font-weight: 700;
        }
     }
    
    }




    &--links {
        font-size: 1.4rem;
        line-height: 2.2rem;
        font-weight: 100;
        color: $primary-white;
        text-decoration: none;

        //tablet
        @include tablet {
            font-size: 2.4rem;
            line-height: 3.2rem;
        }
    }

    &--white {
        color: $primary-white;
        padding: 0 1.6rem 0 1.6rem;

        
    }

    &--black {
        color: $primary-black;
        padding: 0 1.6rem 0 1.6rem;
        //tablet
         @include tablet {
          padding: 0 2.4rem;
             }
             @include desktop{
                padding: 0 13.6rem;
             }
    }

    &__Regular {
        padding-left: 1.6rem;
        font-size: 2.4rem;
        @include tablet{
            float: right;
            position: relative;
            right: 36px;
            bottom: 250px;
        }
        @include desktop{
            float: right;
            position: relative;
            right: 150px;
            bottom: 250px;
        }
       
       

    }

    &--subheader {
        padding: 1.6rem;
        font-size: 1.4rem;
        line-height: 2.2rem;
        font-weight: 600;
        //tablet
        @include tablet{
            font-size: 2.4rem;
            line-height: 3.2rem;
            font-weight: 600;

        }
    }
}

.nav {
    max-width: 192rem;
    min-width: 100%;

    &__Items {
        background-color: $primary-black;
        color: $primary-white;
        text-align: center;

        //tablet
        @include tablet {
            display: flex;
            padding: 32px;

        }
          //desktop
          @include desktop{
            padding: 40px;
            padding-left: 150px;
        }
      


        &__list {
            display: flex;

            justify-content: space-around;

            //tablet
            @include tablet {

                padding-left: 24px;

            }




            &__links {

                display: inline-block;


                //tablet
                @include tablet {
                    display: table-cell;
                    padding-left: 3.2rem;
                }
                //desktop
                @include desktop{
                    padding-left:72px;
                }


            }

            &__links:active  {
                text-decoration: underline;
                color: $primary-white;

            }
            &__links:hover{
                border: 1px dotted white;
                color: $primary-white;
            }
        }
    }

    &__Bandsite {
        text-align: center;
        font-weight: 700;
        text-decoration: none;
        color: $primary-white;
      
    }
}

.header {
    position: relative;
    text-align: center;
    color: white;


    &__img {
        width: -webkit-fill-available;
    }



}

.main__photo{
    width: -webkit-fill-available;
    padding-bottom: 32px;
}
.main__musicians {
    padding-top: 24px 0 16px 0;
    //tablet
    @include tablet{
        padding: 0 8rem;

    }
    @include desktop{
        padding: 0 24rem;
    }

}

.main__musiciansText {
    font-size: 1.4rem;
    line-height: 2.2rem;
    font-weight: 400;
    padding: 1.6rem 1.6rem 0 1.6rem;

      &--lastPart{
        @include tablet{
            font-size: 1.4rem;
            line-height: 2.2rem;
            font-weight: 700;

        }

      }


 
      &--Bold {
     font-weight: 600;
         //tablet
         @include tablet{
            font-size: 2.4rem;
            line-height: 3.2rem;
         }
 
    }

    &--Regular{
     @include tablet {
         column-count: 2;
         column-gap: 5rem;}
       
        
   }
}

.gallery{
  padding: 1.6rem 0 ;
   @include tablet{
    padding:   4.8rem  3.6rem 3.6rem 3.6rem ;
   }
}
.gallery__photo {
    width: -webkit-fill-available;
    padding: 2.4rem 1.6rem 0rem 1.6rem;
    filter: grayscale(1);

    
    @include tablet{
        width: 28%;
        
    }


}
.gallery__photo:hover {
    filter: none;
}
.galleryBox1{
    @include tablet{
        display: f;
    }
}
.galleryBox{
    @include tablet {
   display: unset;
   align-content: flex-start;
   flex-wrap: wrap;
   

        

    }
}

.footer {
    background-color: $primary-black;
    color: $primary-white;
    
   &__box2{
    @include tablet{
        
        columns: 3;
      
       
        
        
    }
   }
   &__box1{
    padding: 36px 0;
    
    @include tablet{
        display: flex;
        
    }

   }


   

    &__icon {
        width: 2.5rem;
        height: 2.5rem;
        display: flex;

        &__link {
            padding: 0 2.4rem .8rem 1.6rem;
        }
    }

    &__Info {
        font-size: 1.3rem;
        line-height: 1.8rem;
        font-weight: 400;
        padding-bottom: 1.6rem;
        padding-left: 1.6rem;
        

        &--Bold {

            font-weight: 700;

        }
    }
}
.emils{
    text-decoration: none;
    color: $primary-white;
}